# {{TITULO}}

{{INTRO}}

> Documento generado con el skill `docs-portal-manual` (Playwright). Portal: {{BASE_URL}}

## Contenido

1. [{{MODULO_1}}](#modulo-1)
2. [{{MODULO_2}}](#modulo-2)

---

## {{MODULO_1}}

{{DESCRIPCION_1}}

![{{MODULO_1}}](img/01-{{SLUG_1}}.png)

**Cómo usarlo:**

1. {{PASO_1}}
2. {{PASO_2}}

> ℹ️ {{NOTA_OPCIONAL}}

---

## {{MODULO_2}}

{{DESCRIPCION_2}}

![{{MODULO_2}}](img/02-{{SLUG_2}}.png)

**Cómo usarlo:**

1. {{PASO_1}}
2. {{PASO_2}}
