package {{BASE_PACKAGE}}.config;

import io.swagger.v3.oas.models.Components;
import io.swagger.v3.oas.models.OpenAPI;
import io.swagger.v3.oas.models.info.Contact;
import io.swagger.v3.oas.models.info.Info;
import io.swagger.v3.oas.models.info.License;
import io.swagger.v3.oas.models.security.SecurityRequirement;
import io.swagger.v3.oas.models.security.SecurityScheme;
import io.swagger.v3.oas.models.servers.Server;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

import java.util.List;

@Configuration
public class OpenApiConfig {

    @Value("${spring.application.name:{{API_TITLE}}}")
    private String appName;

    @Bean
    public OpenAPI customOpenAPI() {
        final String securitySchemeName = "bearerAuth";

        return new OpenAPI()
                .info(apiInfo())
                .servers(List.of(
                        new Server().url("http://localhost:{{PORT}}").description("Desarrollo local"),
                        new Server().url("https://{{STAGING_URL}}").description("Staging")
                ))
                .addSecurityItem(new SecurityRequirement().addList(securitySchemeName))
                .components(new Components()
                        .addSecuritySchemes(securitySchemeName,
                                new SecurityScheme()
                                        .name(securitySchemeName)
                                        .type(SecurityScheme.Type.HTTP)
                                        .scheme("bearer")
                                        .bearerFormat("JWT")
                                        .description("Token JWT. Obtenerlo en POST /auth/login")
                        )
                );
    }

    private Info apiInfo() {
        return new Info()
                .title("{{API_TITLE}}")
                .version("{{API_VERSION}}")
                .description("{{API_DESCRIPTION}}")
                .contact(new Contact()
                        .name("{{CONTACT_NAME}}")
                        .email("{{CONTACT_EMAIL}}"))
                .license(new License().name("MIT").url("https://opensource.org/licenses/MIT"));
    }
}
